html {
  background-color: white;
  padding: 10px 15px 10px 15px;
  font-family: monospace;
}

h1 {
 font-size: 45px;
}

h2 {
  font-size: 20px;
  color: #0002a7;
}
/* home page styling*/

u1 {
  list-style-type: none;
  padding: 0;
  margin: 0 30px 0 30px;
}

#home h3{
  font-size: 23px;
}

#home p {
  margin: 0 40px 0 40px;
  font-size: 15px;
}

/* nav bar styling */

nav ul {
  list-style-type: none;
  margin: 3% 30% 3% 30%;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
}

nav li {
  float: left;
  width: 50%;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 50px;
}

#current {
  background-color: #635459;
}

nav li a:hover {
  background-color: #635F59;
}
/* gallery page styling */

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid-item {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  margin: 5% 10% 5% 10%;
}

.grid-item img {
  width:12%;
}
