
body {
	background-color: #002fa7;
	}
	
p {
	background-color: #002fa7;
	color: gold;
	font-family: Helvetica, sans-serif;
	font-size: 30 px;
	padding: 20px 20px;
	line-height: 125%;
	}

img {
	height: 750px;
	width: 500px;
	border: 7mm double #002fa7;
}

h1 {
	font: normal bold 40px/1 sans-serif;
	color: gold;
}

h2 {
	font: normal bold 30px/1 sans-serif;
	color: gold;
}

h3 {
	font: normal bold 24px/1 sans-serif;
	color: gold;
	padding: 2px 2px;
	margin: 10px;
}

ul {background-color: #002fa7;
	color: gold;
	font-family: Helvetica, sans-serif;
	font-size: 22 px;
	padding: 4px 4px;
	margin: 10px;
}

li {background-color: #002fa7;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 20 px;
	padding: 4px 4px;
	margin: 10px;
}

.topnav {
  background-color: #002fa7;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: gold;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font: small-caps bold 20px/1 sans-serif;
}

.topnav a:hover {
  background-color: #002fa7;
  color: gold;
}

.topnav a.active {
  background-color: #002fa7;
  color: gold;
}

.image-txt-container {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.flexcontainer {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .flexcontainer {
    display: block;
  }
}
